/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Clicker+Script|Open+Sans:400,700,300);
/* Base elements style && Global Reset */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  color: #444;
}

h1 { margin-bottom: 1em; }

h3 { font-size: 1.2em; }

p { 
  margin: 1.1em 0;
  color: #888;
}

a {
  color: #5A5AFF;
  text-decoration: none; 
  font-weight: 300;
  transition: all 0.5s ease;
}

a:hover   { color: #222; }
a:visited { color: #A4A; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

.categories {
  margin-left: 1em;
  display: inline-block;
  font-size: 80%;
  color: #999;
}

.categories li {
  list-style: none;
  display: inline-block;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 120%;
  text-align: left;
  width: 100%;
  max-width: 36em;
  padding: 0 1em;
  margin: 2em auto;
 line-height: 1.4em;
}

@media all and (min-width: 780px) {
  .site {
    font-size: 140%;
    width: 35em;
    padding: none;
    margin: 3em auto 2em;
  }
}

@media all and (min-width: 1024px) {
  .site {
    width: 100%;
    max-width: 45em;
    font-size: 145%;
  }

  .post {
    padding: 3em;
  }
}

.header {
  background-color: #222;
  margin-bottom: 0.5em;
}

.header:after {
  content: " ";
  display: table;
  clear: both;
}

.header a {
  font-weight: normal;
  text-decoration: none;
}

.header:hover .extra, .header:hover .logo a {
  color: #fc0;
}

.logo {
  font-family: 'Clicker Script', sans-serif;
  font-size: 3em;
  float: left;
  margin-bottom: 0;
}

.logo a {
  color: #F8F3EF;
  padding: .2em;
}

.logo a:hover {
  color: #fc0;
}

.nav {
  float:right;
  padding-top: 1em;
  padding-right: 2em;
}

.nav li {
  display: inline-block;
}

.title {
  color: #444;
  font-size: 220%;
  font-weight: 300;
  text-align: center;
  line-height: 1.4em;
  text-transform: uppercase;
  display: inline-block;
}

.title a {
  color: #3589C0;
}

.title a:hover {
  color: #222;
}

.header a.extra {
  color: #F8F3EF;
  margin-left: 2em;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.header a.extra:hover {
  color: #fc0;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #444;
  background-color: #222;
  padding: .4em;
  color: #fff;
  line-height: 1em;
}

.post > p:first-of-type {
  font-size: 1.25em;
  font-weight: 300;
  line-height: 1.35em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  border-radius: .4em;
  padding: .2em .4em;
  font-family: monospace;
  font-size: 0.8em;
}

.post pre code {
  border: none;
}


/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.asciicast iframe {
  margin: 0 auto !important;
}
