/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Clicker+Script|Open+Sans:400italic,400,700,300|Oswald:300,400);
/* Base elements style && Global Reset */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body { height: 100%; font-size: 18px; }

/*** Vertical Rythm Grid ****
html {
  background-image: linear-gradient(#fff 0, #fff 95%, #f00 95%, #f00 100%);
  background-size: 100% 1.65em;
  background-repeat: repeat-y;
}
/***************************/

body {
  background-color: #FFF;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', 'Open Sans', Helvetica;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 100%;
  color: #444;
}

h1 { font-size: 1.992rem; margin-bottom: 2.618rem; text-align: center; line-height: 1.5666em; }

h2 { font-size: 1.331rem; line-height: 1.5rem; margin-bottom: 1.75rem; }

h3 {
  font-family: 'Oswald', Helvetica;
  font-weight: 400;
  border-bottom: 3px solid;
  font-size: 1.131rem; line-height: 1.5rem; margin-bottom: 1.75rem; }

p { 
  margin-bottom: 1.6rem;
  color: #575757;
}

a {
  color: #5A5AFF;
  text-decoration: none; 
  font-weight: 300;
  transition: all 0.5s ease;
}

a:hover   { color: #222; }
a:visited { color: #A4A; }

li {
  color: #555;
}

li li {
  color: #888;
  margin-left: 1em;
}

.posts li li {
  margin-left: 0;
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
  text-align: center;
}

.posts a {
  font-family: 'Oswald', Helvetica;
  font-weight: 400;
  font-size: 1.6em;
  line-height: 1.2em;
  display: block;
}

.posts li {
}

.posts > li {
  margin-bottom: 3.5em;
}

.categories {
  margin-left: 1em;
  font-size: 80%;
  color: #999;
}

.categories li {
  list-style: none;
  display: inline-block;
}

.categories-in-post {
  font-size: 0.761rem;
  text-align: center;
  display: block;
}

.categories-in-post li {
  font-family: 'Oswald';
  font-weight: 300;
  list-style: none;
  display: inline-block;
  color: #aaa;
}

.categories-in-post li span {
  color: #fc0;
}
/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: .769230769rem;
  text-align: left;
  width: 100%;
  max-width: 57.813rem;
  padding: 0 1em;
  margin: 2em auto;
  line-height: 1.5em;
}


.header {
  background-color: #222;
  margin-bottom: 0.5em;
  height: 3.8rem;
  line-height: 3.8rem;
}

.header:after {
  content: " ";
  display: table;
  clear: both;
}

.header a {
  font-weight: normal;
  text-decoration: none;
}

.header:hover .extra, .header:hover .logo a {
  color: #fc0;
}

.logo {
  font-family: 'Clicker Script', sans-serif;
  font-size: 2.63em;
  text-align: center;
  margin-bottom: 0;
}

.logo a {
  color: #F8F3EF;
  padding: .2em;
}

.logo a:hover {
  color: #fc0;
}

nav {
  float: right;
  padding-right: 0;
}

nav li {
  display: inline-block;
}

.title {
  color: #444;
  font-size: 1.8em;
  font-weight: 300;
  text-align: center;
  line-height: 1.4em;
  font-variant: small-caps;
  margin: 0 auto;
}

.title a {
  color: #3589C0;
}

.title a:hover {
  color: #222;
}

.header a.extra {
  display: block;
  color: #F8F3EF;
  padding: 0 .5rem;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  height: 100%;
}

.header a.extra:hover {
  background-color: #fff;
  color: #333;
}

.meta {
  color: #aaa;
  font-size: 0.761rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2em;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  min-width: 200px;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .contact p {
  margin-bottom: 0;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
  margin: 0 auto;
}

.post pre {
  border: 1px solid #444;
  background-color: #222;
  padding: .47em;
  color: #fff;
  line-height: 1rem;
}

.post > p:first-of-type {
  font-size: 1.231rem;
  font-weight: 300;
  line-height: 1.618rem;
  margin-bottom: 1.7rem;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  border-radius: .4em;
  padding: .2em .4em;
  font-family: monospace;
  font-size: 0.8em;
}


.post pre code {
  border: none;
}


/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.asciicast iframe {
  margin: 0 auto !important;
}

@media all and (max-width: 566px) {
  .asciicast {
    display: none !important;
  }
}


/*** 404 ***/

.fourohfour {
  text-align: center;
}
.fourohfour p:first-of-type {
  font-size: 5em;
}


/****************************/
/***** Media Queries ********/
/****************************/

@media all and (max-width: 320px) {
  .logo { display: none; }
  nav { text-align: center; }
  .nav { margin-left: 2rem; }
  .header a.extra { font-size: 0.8rem; }
}

@media all and (min-width: 320px) {
  .site {
    line-height: 1.5em;
  }

  .logo {
    float: left;
  }

  .title {
    font-size: 2em;
    text-align: center;
  }
}

@media all and (min-width: 520px) {
  .site {
    font-size: 0.9rem;
  }

  nav {
    padding-right: 2em;
  }

  nav li {
    width: 6em;
  }

  h1 {
    text-align: left;
  }

  .footer .contact {
    float: left;
  }
}

@media all and (min-width: 650px) {
  .site {
    font-size: 1rem;
    line-height: 1.618rem;
  }

  .post {
    max-width: 35.731rem;
  }
}

@media all and (min-width: 780px) {
  .site {
    width: 35.731rem;
    padding: 0;
    margin: 2.95rem auto 1.992rem;
    word-spacing: 2px;
  }

  .post {
    max-width: 35.731rem;
  }

  .title {
    font-size: 1.992rem;
  }

}

@media all and (min-width: 1024px) {
  .site {
    width: 100%;
    word-spacing: 3px;
  }

  .post {
    max-width: 35.731rem;
  }

  .title {
    font-size: 3.222rem;
    line-height: 3.5rem;
    max-width: 75%;
  }
}

